.cell{
    width: 57px;
    height: 57px;
    display: inline-block;
    border: 2px solid var(--color1);
    margin-right: .2rem;
    font-size: 2rem;
    font-weight: bolder;
    position: relative;
    color: var(--color3);
}
.cell span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.grid{
    width: 100%;
    margin:  2rem auto;
    margin-bottom: .4rem;
    text-align: center;
}
.absent{
    background-color: var(--color-absent);
}
.present{
    background-color: var(--color-present);
}
.correct{
    background-color: var(--color-correct);
}